html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff; }

.center {
  width: 1440px;
  margin: 0 auto; }

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 220px;
  min-height: 810px; }

.main-header h2 {
  font-size: 60px;
  text-align: center; }

.play {
  box-sizing: border-box;
  background-color: #8185a3;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
  margin-bottom: 40px;
  position: relative; }
  .play::before {
    position: absolute;
    content: "";
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    top: 20px;
    left: 22px;
    border: 10px solid transparent;
    border-left: 20px solid #ffffff; }
  .play:active::before {
    border-left: 20px solid #000000; }

.btn {
  box-sizing: border-box;
  width: 190px;
  padding-top: 16px;
  min-height: 50px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  background-color: #fb8686;
  text-align: center; }

.descr {
  min-height: 720px;
  display: flex;
  justify-content: space-between; }

.descr__block {
  box-sizing: border-box;
  width: 50%;
  padding: 180px 140px 170px; }
  .descr__block p {
    margin: 0 0 40px 0; }

.descr__sideblock {
  background-image: linear-gradient(-45deg, #fb8686 40%, #ececec 40%);
  width: 40%; }

.descr .info {
  margin-bottom: 20px; }

.title {
  font-size: 16px;
  color: #fb8686;
  text-transform: uppercase; }

.subtitle {
  font-size: 40px; }
  .subtitle span {
    color: #fb8686; }

.info {
  font-size: 16px;
  color: #282828; }

.feature__title {
  font-size: 22px; }

.features {
  background-color: #ececec;
  padding-top: 130px;
  padding-bottom: 180px; }

.features .title,
.features .subtitle {
  text-align: center;
  margin: 0; }

.features__blocks {
  display: flex;
  width: 1130px;
  margin: auto;
  justify-content: space-between;
  text-align: center;
  margin-top: 70px; }

.feature {
  width: 350px; }

.design {
  padding: 135px 200px 145px 740px; }

.design .title {
  margin: 0 0 18px 0; }

.design .subtitle {
  margin: 0 0 40px 0; }

.partners {
  background-color: #21232a;
  padding: 110px 170px 40px; }

.comment__block {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 100px; }

.comment {
  width: 330px; }

.comment__photo {
  width: 70px;
  height: 70px;
  background-color: #4e4e5e;
  margin: auto; }

.comment__author {
  font-size: 22px;
  color: #ffffff; }

.comment__position {
  font-size: 16px;
  color: #fb8686; }

.comment__text {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff; }

.partners__logo {
  width: 975px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  margin: auto; }
  .partners__logo div {
    width: 140px;
    height: 65px;
    background-color: #4e4e5e; }

.new-features {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 450px; }
  .new-features .title {
    margin: 0 0 15px 0; }
  .new-features .subtitle {
    margin: 0 0 40px 0; }

.features__info {
  width: 660px;
  margin: auto;
  font-size: 16px; }
