html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Exo', Arial, sans-serif;
  font-weight: 500; }

.center {
  width: 1440px;
  margin: 0 auto; }

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 220px;
  min-height: 810px;
  box-sizing: border-box;
  background-color: #9dd76a;
  background-image: url("../img/header-photo.jpg");
  background-repeat: no-repeat; }
  .main-header p {
    color: #282828;
    opacity: 0.6; }

.main-header h2 {
  font-size: 60px;
  line-height: 75px;
  font-weight: 200;
  text-align: center;
  padding: 0;
  margin: 0 0 50px 0; }

.play {
  box-sizing: border-box;
  background-color: #8185a3;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
  margin-bottom: 40px;
  position: relative; }
  .play::before {
    position: absolute;
    content: "";
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    top: 20px;
    left: 22px;
    border: 10px solid transparent;
    border-left: 20px solid #ffffff; }
  .play:active::before {
    border-left: 20px solid #8185a3; }
  .play:active {
    background-color: #fb8686; }

.btn {
  box-sizing: border-box;
  width: 190px;
  padding-top: 18px;
  padding-bottom: 16px;
  min-height: 50px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  background-color: #fb8686;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px; }

.descr {
  min-height: 720px;
  display: flex;
  justify-content: space-between; }

.descr__block {
  box-sizing: border-box;
  width: 50%;
  padding: 50px 140px 170px; }
  .descr__block p {
    margin: 0 0 40px 0; }

.descr__sideblock {
  background-image: linear-gradient(-45deg, #fb8686 40%, #ececec 40%);
  width: 40%; }

.descr .info {
  margin-bottom: 20px; }

.title {
  font-size: 16px;
  line-height: 50px;
  color: #fb8686;
  text-transform: uppercase; }

.subtitle {
  font-size: 40px;
  line-height: 50px; }
  .subtitle span {
    color: #fb8686; }

.subtitle--white {
  color: #ffffff; }

.info {
  font-size: 16px;
  line-height: 26px;
  color: #282828;
  opacity: 0.66; }

.feature__title {
  font-size: 22px; }

.login-form__terms {
  color: #a8aabc;
  font-size: 16px; }
  .login-form__terms a {
    color: #a8aabc; }

.trial {
  color: #f6f5f3;
  font-size: 16px; }

.main-footer__title {
  font-size: 22px;
  line-height: 50px;
  color: #282828;
  margin: 0 0 20px 0; }

.main-footer__info {
  font-size: 14px;
  line-height: 26px;
  color: #282828;
  opacity: 0.56; }

.main-footer__support a,
.main-footer__aboutus a {
  font-size: 14px;
  line-height: 26px;
  color: #282828;
  text-decoration: none;
  opacity: 0.66; }

.features {
  background-image: url("../img/features-bg.jpg");
  background-repeat: no-repeat;
  padding-top: 130px;
  padding-bottom: 180px;
  min-height: 670px;
  box-sizing: border-box; }

.features .title,
.features .subtitle {
  text-align: center;
  margin: 0; }

.features__blocks {
  display: flex;
  width: 1130px;
  margin: auto;
  justify-content: space-between;
  text-align: center;
  margin-top: 70px; }

.feature {
  width: 350px;
  display: flex;
  flex-direction: column; }

.feature__icon {
  width: 66px;
  height: 66px;
  border-radius: 100%;
  margin: auto; }

.photo {
  background-image: url("../img/photo.png"); }

.airplane {
  background-image: url("../img/airplane.png"); }

.bulb {
  background-image: url("../img/bulb.png"); }

.design {
  box-sizing: border-box;
  height: 550px;
  display: flex; }

.design__triangle {
  width: 680px;
  height: 100%;
  background-image: linear-gradient(50deg, #fb8686 50%, #ffffff 50%);
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative; }
  .design__triangle::after {
    position: absolute;
    content: "";
    width: 630px;
    height: 370px;
    background-image: url("../img/macbook.png");
    top: 15%;
    left: 60px; }

.design__info {
  width: 505px;
  padding-top: 135px;
  padding-right: 200px;
  padding-bottom: 145px;
  padding-left: 50px; }

.design .title {
  margin: 0 0 18px 0; }

.design .subtitle {
  margin: 0 0 40px 0; }

.partners {
  background-color: #21232a;
  background-image: url("../img/partners-bg.jpg");
  padding: 110px 170px 40px; }

.comment__block {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 100px; }

.comment {
  width: 330px; }

.comment__photo {
  width: 70px;
  height: 70px;
  background-color: #4e4e5e;
  margin: auto; }

.comment__author {
  font-size: 22px;
  line-height: 22px;
  color: #ffffff; }

.comment__position {
  font-size: 16px;
  line-height: 16px;
  color: #fb8686; }

.comment__text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 200;
  color: #ffffff;
  opacity: 0.66; }

.partners__logo {
  width: 975px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  margin: auto; }
  .partners__logo div {
    width: 140px;
    height: 100%; }
  .partners__logo a {
    display: block;
    width: 140px;
    height: 100%; }

.partners__hits {
  background-image: url("../img/partners-logo.png");
  background-position: 0 0; }

.partners__rvlvr {
  background-image: url("../img/partners-logo.png");
  background-position: -205px 0; }

.partners__eat {
  background-image: url("../img/partners-logo.png");
  background-position: -415px 0; }

.partners__igor {
  background-image: url("../img/partners-logo.png");
  background-position: -625px 0; }

.partners__sienna {
  background-image: url("../img/partners-logo.png");
  background-position: -825px 0; }

.new-features {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 450px;
  background-color: #f6f5f3;
  background-image: url("../img/rectangle 24.png");
  background-repeat: no-repeat;
  background-position: 50% bottom; }
  .new-features .info {
    width: 660px;
    margin: auto;
    font-size: 16px; }
  .new-features .title {
    margin: 0 0 15px 0; }
  .new-features .subtitle {
    margin: 0 0 40px 0; }

.login-form {
  background-color: #323969;
  display: flex;
  flex-direction: column;
  padding: 90px 150px 80px;
  text-align: center; }
  .login-form .title {
    margin: 0 0 10px 0; }
  .login-form .subtitle {
    margin: 0 0 75px 0; }
  .login-form form {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 50px; }
  .login-form input[type="text"],
  .login-form input[type="email"],
  .login-form input[type="password"],
  .login-form .btn--try {
    box-sizing: border-box;
    width: 260px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    padding: 17px 30px;
    text-transform: uppercase;
    color: #f6f5f3;
    background-color: #464c77;
    border: none; }
  .login-form .form-wrapper {
    position: relative; }
  .login-form .btn--try {
    background-color: #fb8686;
    margin-top: auto; }
  .login-form label {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fb8686;
    position: absolute;
    top: -25px;
    left: 30px;
    opacity: 0; }

.form-name:focus ~ .label-name,
.form-email:focus ~ .label-email,
.form-pass:focus ~ .label-pass {
  opacity: 1;
  transition: 0.5s; }

.trial {
  position: absolute;
  right: 0;
  height: 60px;
  top: -80px;
  width: 260px; }
  .trial::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 5px;
    width: 50px;
    height: 100%;
    background-image: url("../img/arrow-trial.png");
    background-repeat: no-repeat; }

.main-footer {
  display: flex;
  padding: 90px 330px 100px 150px;
  justify-content: space-between;
  background-image: linear-gradient(50deg, #ffffff 82%, #fb8686 18%); }

.main-footer__start {
  width: 235px; }

.main-footer__support ul,
.main-footer__aboutus ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.main-footer__news {
  display: flex;
  flex-direction: column; }
  .main-footer__news form {
    display: flex;
    box-sizing: border-box;
    height: 50px;
    font-size: 0;
    margin-bottom: 18px; }
    .main-footer__news form input[type="email"] {
      box-sizing: border-box;
      height: 100%;
      width: 215px;
      font-size: 16px;
      padding: 16px 30px;
      line-height: 75px;
      text-transform: uppercase;
      color: #b1b1b1;
      background-color: #f6f6f6;
      border: 1px solid #b8b8bf;
      border-radius: 2px; }

.btn-news {
  position: relative;
  box-sizing: border-box;
  width: 48px;
  height: 100%;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
  opacity: 0.7; }
  .btn-news::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    top: 14px;
    left: 12px;
    background-image: url(../img/arrow.png); }
  .btn-news:hover {
    opacity: 1; }

.social-btn ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  width: 155px;
  margin: auto; }

.social-btn a {
  display: block;
  margin: auto;
  width: 20px;
  height: 20px;
  opacity: 0.7; }
  .social-btn a:hover {
    opacity: 1; }

.social-btn__dribble {
  background-image: url("../img/dribble.png");
  background-repeat: no-repeat; }

.social-btn__fb {
  background-image: url("../img/fb.png");
  background-repeat: no-repeat; }

.social-btn__google {
  background-image: url("../img/g+.png");
  background-repeat: no-repeat;
  background-position-y: 2px; }

.social-btn__twitter {
  background-image: url("../img/twitter.png");
  background-repeat: no-repeat;
  background-position-y: 2px; }
