

.btn {
  box-sizing: border-box;
  width: 190px;
  padding-top: 16px;
  min-height: 50px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  background-color: $elem-color;
  text-align: center;
}

