.features {
  background-image: url("../img/features-bg.jpg");
  background-repeat: no-repeat;
  padding-top: 130px;
  padding-bottom: 180px;
  min-height: 670px;
  box-sizing: border-box;
}

.features .title,
.features .subtitle {
  text-align: center;
  margin: 0;
}

.features__blocks {
  display: flex;
  width: 1130px;
  margin: auto;
  justify-content: space-between;
  text-align: center;
  margin-top: 70px;
}

.feature {
  width: 350px; 
  display: flex;
  flex-direction: column;
}

.feature__icon {
  width: 66px;
  height: 66px;
  border-radius: 100%;
  margin: auto;
}

.photo {
  background-image: url("../img/photo.png");
}

.airplane {
  background-image: url("../img/airplane.png");
}

.bulb {
  background-image: url("../img/bulb.png");
}