.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 220px;
  min-height: 810px;
  box-sizing: border-box;
  background-color: #9dd76a;
  background-image: url("../img/header-photo.jpg");
  background-repeat: no-repeat;
}

.main-header h2 {
  font-size: 60px;
  text-align: center;
  padding: 0;
  margin: 0 0 50px 0;
}

.play {
  box-sizing: border-box;
  background-color: #8185a3;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
  margin-bottom: 40px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    top: 20px;
    left: 22px;
    border: 10px solid transparent;
    border-left: 20px solid #ffffff;
  }
  &:active::before {
    border-left: 20px solid #000000;
  }
}