.partners {
  background-color: #21232a;
  background-image: url("../img/partners-bg.jpg");
  padding: 110px 170px 40px;
}

.comment__block {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 100px;
}

.comment {
  width: 330px;
}

.comment__photo {
  width: 70px;
  height: 70px;
  background-color: #4e4e5e;
  margin: auto;
}

.comment__author {
  font-size: 22px;
  color: $body-color;
}

.comment__position {
  font-size: 16px;
  color: $elem-color;
}

.comment__text {
  font-size: 16px;
  line-height: 26px;
  color: $body-color;
}

.partners__logo {
  width: 975px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  & div {
    width: 140px;
    height: 100%;
  }
  & a {
    display: block;
    width: 140px;
    height: 100%;
  }
}

.partners__hits {
  background-image: url("../img/partners-logo.png");
  background-position: 0 0;
}

.partners__rvlvr {
  background-image: url("../img/partners-logo.png");
  background-position: -205px 0;
}

.partners__eat {
  background-image: url("../img/partners-logo.png");
  background-position: -415px 0;
}

.partners__igor {
  background-image: url("../img/partners-logo.png");
  background-position: -625px 0;
}

.partners__sienna {
  background-image: url("../img/partners-logo.png");
  background-position: -825px 0;
}