.title {
  font-size: 16px;
  color: $elem-color;
  text-transform: uppercase;
}

.subtitle {
  font-size: 40px;
  & span {
    color: $elem-color;
  }
}

.subtitle--white {
  color: #ffffff;
}

.info {
  font-size: 16px;
  color: #282828;
}

.feature__title {
  font-size: 22px;
}

.login-form__terms {
  color: #a8aabc;
  font-size: 16px;
  & a {
    color: #a8aabc;
  }
}

.trial {
  color: #f6f5f3;
  font-size: 16px;
}


.main-footer__title {
  font-size: 22px;
  line-height: 50px;
  color: #282828;
  margin: 0 0 20px 0;
}

.main-footer__info {
  font-size: 14px;
  line-height: 26px;
  color: #282828;
  opacity: 0.56;
}

.main-footer__support a,
.main-footer__aboutus a {
  font-size: 14px;
  line-height: 26px;
  color: #282828;;
  text-decoration: none;
  opacity: 0.66;
}